@use './functions' as f;


$screen-xs-max: 360px;
$screen-sm-max: 480px;
$screen-md-max: 620px;
$screen-lg-max: 1024px;
$screen-xl-max: 1600px;

$xs: 0;
$sm: $screen-sm-max;
$md: $screen-md-max;
$lg: $screen-lg-max;
$xl: $screen-lg-max;


$media-breakpoints: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);


$max-width: f.toRem(650);

//bp
$bp-phone: f.toRem($sm);
$bp-tablet: f.toRem($md);
$bp-desktop: f.toRem($lg);

// Transitions
$duration: 300ms;
$timing: ease-in-out;


$main-bg: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$score-bg: #fff;
$primary-text-color: #fff;
$secondary-text-color: hsl(229, 25%, 31%);
$header-outline: hsl(217, 16%, 45%);
$score-text: hsl(229, 64%, 46%);


$primary-font: 'Barlow Condensed', sans-serif;
