@use '../abstracts/' as abs;

.header {
    padding: 2rem;
    margin-block-start: 4rem;
    border: 3px solid abs.$header-outline;
    border-radius: .5rem;

    &__container {
        @include abs.d-flex(center, space-between);
    }

    
}