@use '../abstracts/' as abs;

.score {
    padding-block: 1rem;
    padding-inline: 2rem;
    background-color: abs.$score-bg;
    border-radius: 0.5rem;
    text-align: center;

    &__title {
        font-size: 1.6rem;
        text-transform: uppercase;
        color: abs.$score-text;
    }

    &__num {
        font-size: 6rem;
        color: abs.$secondary-text-color;   
    }
}